---
import AppLayout from "@/layouts/AppLayout.astro";

import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";

export const prerender = false;
---

<AppLayout title="Recipe - Meisto">
  <Header client:load />

  <main class="min-h-screen"></main>

  <Footer />
</AppLayout>