---
import AppLayout from "@/layouts/AppLayout.astro";

import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";
import SearchBar from "@/components/SearchBar";
---

<AppLayout title="Collections - Meisto">
  <Header className="relative" client:load />

  <SearchBar
    searchUrl="#"
    placeholder="Search for a recipe collection ..."
    className="sticky top-0 z-20"
    client:load
  />

  <main class="min-h-screen py-4 space-y-8">
    <section
      class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3"
    >
    </section>
  </main>

  <Footer />
</AppLayout>
