---
import AppLayout from "@/layouts/AppLayout.astro";

import { Button } from "@/components/ui/button";
import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";
---

<AppLayout title="Home - Meisto">
	<Header className="min-w-full px-4 py-3" client:load />

	<main class="min-h-screen flex flex-col relative">
		<div class="container flex-1 grid place-items-center">
			<Button>Hello world!</Button>
		</div>
	</main>

	<Footer />
</AppLayout>