---
import { cn } from "@/lib/utils";
import { Github } from '@/components/icons';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<footer
  class={cn(
    "border-t border-gray-200 dark:border-neutral-700 px-4 py-3 dark:fill-white",
    className
  )}
>
  <div class="container flex justify-between items-center">
    <span class="font-semibold text-sm">
      Copyright &#169; 2024 Hkaar. All rights reserved.
    </span>

    <nav class="flex items-center gap-2">
      <a href="/">
        <Github className="size-4" />
        <span class="sr-only">Github</span>
      </a>
    </nav>
  </div>
</footer>
